@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #476e81;
    --bg-color: #dbeceb;
    ;
    --nav-heading: #fedc2a;
    --border-color: #333;
    --hero-heading: #a53b28;
    --of-color: #D0C9C0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    font-size: 1rem;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.link {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
}

.primary-link {
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    margin-top: 0.5rem;
    border: 2px solid var(--border-color);
}

.secondary-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

.non-bullet {
    list-style: none;
}

.list-items-inline {
    display: inline-block;
}

.nav-brand {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--nav-heading);
}

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .active-link {
    font-weight: bold;
}

.hero {
    padding: 1rem;
    text-align: center;
}

.hero-img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 1rem auto;
}

.hero .hero-heading {
    text-align: center;
    color: var(--hero-heading);
}

.bold {
    font-weight: bold;
    color: var(--primary-color);
}

.section {
    padding: 2rem;
    text-align: center;
}

.section h3 {
    font-size: 1.5rem;
}

.of {
    background-color: var(--of-color);
}

.footer {
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    text-align: center;
    border-top-right-radius: 1rem;
    margin-top: 3rem;
}

.footer h3 {
    color: var(--nav-heading);
}

.footer .links {
    padding-inline-start: 0px;
}

.effect {
    width: 0ch;
    margin: auto;
    white-space: nowrap;
    color: var(--hero-heading);
    border-right: 2px solid var(--primary-color);
    overflow: hidden;
    animation: typing 6s infinite alternate;
}

.button {
    display: inline-block;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    color: black;
}

.tech-container h3 {
    font-size: 1.5rem;
}

.grid-container {
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: auto auto auto;
}

.box {
    font-size: 1.2rem;
    word-wrap: break-word;
    padding: 1rem 1rem;
}

.api-link {
    text-decoration: none;
}

@keyframes typing {
    0% {
        width: 0ch;
    }

    50% {
        width: 21.5ch;
    }
}

.hero .image {
    width: 50px;
    height: 50px;
}

.hero .heading {
    font-size: 1.5rem;
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 786px) {
    .grid-container {
        display: block;
    }
}