<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ankita" />
    <meta name="keyword" content="javascript, component, developer" />
    <meta
      name="description"
      content="I am Ankita. I like to work as a web developer. I want to showchase my work. this is my component library"
    />
    <title>component Library</title>
    <link rel="stylesheet" href="/components/component.css" />
  </head>
  <body>
    <h1>Devangi's component library</h1>
    <p>
      I am attending NeoGcamp and i want to make library ehich would make all my
      projects look good and consistent
    </p>
    <hr />
    <h2>@typography</h2>
    <h1>This is biggest heading 1</h1>
    <h2>This is heading 2</h2>
    <p>
      This is some text in paragraph which will wrap end like paraghph and
      automatically add a single blank line before and after each
    </p>
    <small>Let me show you some small text and inline element of html</small>
    <hr />
    <h2>@containers</h2>
    <h2>@fluid container</h2>
    <div class="container">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum debitis
      voluptate dolorum, voluptates sed facilis cupiditate autem, totam quod
      corrupti harum quos deserunt pariatur nisi nihil fugit ea, a aperiam?,.
      This is fluid container which will go till end of the page
    </div>
    <h2>@center container</h2>
    <div class="container container-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos explicabo
      obcaecati dignissimos earum molestias vitae et nisi quod, fuga accusantium
      iste pariatur fugit sunt, odio dolores quam nam. Vero, dolores.This is
      center container which will go till specified width
    </div>
    <hr />
    <h2>@links</h2>
    <a class="link primary-link" href="#">primary link</a>
    <a class="link secondary-link" href="#">secondary link</a>
    <hr />
    <h2>@lists</h2>
    <h3>unordered inline list</h3>
    <ul class="non-bullet">
      <li class="list-items-inline">milk</li>
      <li class="list-items-inline">egg</li>
      <li class="list-items-inline">bread</li>
    </ul>
    <h3>unordered list</h3>
    <ul class="non-bullet">
      <li>milk</li>
      <li>egg</li>
      <li>bread</li>
    </ul>
    <h3>ordered list</h3>
    <ol>
      <li>milk</li>
      <li>bread</li>
      <li>egg</li>
    </ol>
    <h3>reverse ordered list</h3>
    <ol reversed>
      <li>Bake for 20 minutes.</li>
      <li>Fill muffin tray 3/4 full.</li>
      <li>Stir both mixtures together.</li>
      <li>In another bowl, mix eggs, milk, and oil.</li>
      <li>Mix flour, baking powder, sugar, and salt.</li>
    </ol>
    <hr />
    <h2>@nav</h2>
    <nav class="navigation">
      <div class="nav-brand">IAmAnkita</div>
      <ul class="nav-pills non-bullet">
        <li class="list-items-inline">
          <a class="link active-link" href="/">Home</a>
        </li>
        <li class="list-items-inline">
          <a class="link" href="/about">About</a>
        </li>
        <li class="list-items-inline">
          <a class="link" href="/contact"> Contact </a>
        </li>
      </ul>
    </nav>
    <hr />
    <h2>@header</h2>
    <header class="hero">
      <img class="hero-img" src="https://picsum.photos/200/300" />
      <h1 class="hero-heading">
        This is heading <span class="bold">web developer</span>
      </h1>
    </header>
    <hr />
    <h2>@section</h2>
    <section class="section container-center">
      <h3>white secction</h3>
      <p>
        This will have white background.Lorem ipsum dolor sit amet. Rem autem
        rerum sed aliquam quas aut rerum laborum est architecto voluptas quo
        culpa voluptatem eum molestiae natus. Et corrupti ratione in rerum
        consequatur qui quasi necessitatibus aut possimus similique ut
        voluptatem deleniti et nostrum vero. Eum quae veniam eos quia
        consequatur sed iste alias autem aliquam nam perferendis laboriosam? Vel
        dolor omnis non magnam deserunt At quia libero et blanditiis nihil ea
        excepturi sequi ad atque quisquam. Rem impedit cumque quo architecto
        doloremque et dolore earum ut dolores harum id ipsa architecto qui quia
        dicta. Qui libero porro aut consequatur facere qui ipsum eius et facilis
        beatae? Sed repellendus ratione ex accusamus quod id fuga possimus
        cupiditate aspernatur sed sapiente eligendi et doloribus doloribus. Eum
        illo minima et error molestiae sed molestias veritatis qui doloribus
        voluptatibus.
      </p>
    </section>
    <section class="section of container-center">
      <h3>off white secction</h3>
      <p>
        This will have purple background.Lorem ipsum dolor sit amet. Rem autem
        rerum sed aliquam quas aut rerum laborum est architecto voluptas quo
        culpa voluptatem eum molestiae natus. Et corrupti ratione in rerum
        consequatur qui quasi necessitatibus aut possimus similique ut
        voluptatem deleniti et nostrum vero. Eum quae veniam eos quia
        consequatur sed iste alias autem aliquam nam perferendis laboriosam? Vel
        dolor omnis non magnam deserunt At quia libero et blanditiis nihil ea
        excepturi sequi ad atque quisquam. Rem impedit cumque quo architecto
        doloremque et dolore earum ut dolores harum id ipsa architecto qui quia
        dicta. Qui libero porro aut consequatur facere qui ipsum eius et facilis
        beatae? Sed repellendus ratione ex accusamus quod id fuga possimus
        cupiditate aspernatur sed sapiente eligendi et doloribus doloribus. Eum
        illo minima et error molestiae sed molestias veritatis qui doloribus
        voluptatibus.
      </p>
    </section>
    <hr />
    <h2>@footer</h2>
    <footer class="footer">
      <h3>Footer heading</h3>
      <ul class="non-bullet links">
        <li class="list-items-inline">Link1</li>
        <li class="list-items-inline">Link2</li>
        <li class="list-items-inline">Link3</li>
      </ul>
    </footer>
  </body>
</html>
